# company compare BI tool

this is a live demo for our BI tool. 

it consist mainly of two parts :

- a `company_compare` package with it submodules :  `get_names`, `get_stats`, `get_contacts`

- an interactive dashboard enabling the visualization of the results.

In [1]:
import pandas as pd
import numpy as np
import plotly.express as ex
# our tool
from company_compare import get_contacts, get_names, get_stats

## now we will proceed by showcasing how to use these submodules

**company_compare.get_names(field)**

this method will get you a list of names of companies in a certain field.

ex. `electronic-components`, `artificial-intelligence`, `cloud` ... and so on

In [6]:
##example
names = get_names("cloud")

saved names in data/company_names_by_field/cloud.txt

In [7]:
names

['Amazon',
 'Microsoft',
 'Google',
 'Salesforce',
 'IBM',
 'Cisco',
 'Oracle',
 'HP',
 'Adobe',
 'Intuit',
 'Vmware',
 'Dell Technologies',
 'Slack',
 'HubSpot',
 'CDW',
 'Red Hat',
 'Fortinet',
 'Cerner',
 'NetApp',
 'Workday',
 'IBM',
 'Vmware',
 'Dell Technologies',
 'CDW',
 'Red Hat',
 'Cerner',
 'Tata Consultancy Services',
 'Unisys',
 'LogMeIn',
 'HCL Technologies',
 'Capgemini',
 'Wipro',
 'Perficient',
 'Cincinnati Bell',
 'Kyndryl',
 'Perspecta',
 'Insight',
 'Barracuda Networks',
 'Apptio',
 'Atos',
 'Microsoft',
 'Google',
 'Salesforce',
 'Cisco',
 'Oracle',
 'Intuit',
 'Vmware',
 'Slack',
 'HubSpot',
 'CDW',
 'Red Hat',
 'Fortinet',
 'NetApp',
 'Workday',
 'Palo Alto Networks',
 'Citrix Systems',
 'F5',
 'NetSuite',
 'MongoDB',
 'ServiceNow',
 'IBM',
 'Red Hat',
 'Tata Consultancy Services',
 'Teradata',
 'HCL Technologies',
 'Capgemini',
 'Wipro',
 'Avid Technology',
 'Perspecta',
 'Atos',
 'Mindtree',
 'ASGN',
 'Sopra Steria',
 'PCM',
 'Bechtle',
 'Crayon',
 'Cancom',
 'NCC Group',
 'HAND Enterprise Solutions',
 'Larsen & Toubro Infotech',
 'DocuSign',
 'Tyco International',
 'Unisys',
 'Kyndryl',
 'Insight',
 'Everbridge',
 'Sumo Logic',
 'Tata Communications',
 'Spark New Zealand',
 'PCM',
 'Tufin',
 'KeyW',
 'Atea',
 'Digital Ally',
 'S-1',
 'Genetec',
 'Pci-Pal',
 'Neusoft',
 'Irisity',
 'EVRY',
 'Cisco',
 'HP',
 'Fortinet',
 'Palo Alto Networks',
 'F5',
 'CloudFlare',
 'CrowdStrike',
 'Unisys',
 'McAfee',
 'FICO',
 'Capgemini',
 'Wipro',
 'Mimecast',
 'Zscaler',
 'Datto',
 'Tenable',
 'Perspecta',
 'Fastly',
 'Radware',
 'A10 Networks']

-------------------------

**company_compare.get_contacts(company_name)**

this method will get you a table of contacts with the columns : `name`, `position` and a `link` to linkedin profile.
once you have a target company in mind, you just need to insert it name.

In [11]:
##example
get_contacts("hp")

saved contacts in data/company_contacts/hp.csv

In [13]:
#read .csv file
contacts_google = pd.read_csv("data/company_contacts/hp.csv")
contacts_google.head(5)

,name,position,linkedin
0,Enrique Lores,President & Chief Executive Officer| Board Dir...,https://www.linkedin.com/in/enriquelores/
1,Marie Myers,Chief Financial Officer,https://www.linkedin.com/in/myersmarie/
2,Harvey Anderson,Chief Legal Officer & Corporate Secretary,https://www.linkedin.com/in/harveyanderson/
3,Sarabjit Singh Baveja,Chief Strategy & Incubation Officer,https://www.linkedin.com/in/savi-baveja-0576a/
4,Luciana Broggi,Acting Chief Commercial Officer,https://www.linkedin.com/in/luciana-broggi-069...

### and last but not least 

**company_compare.get_stats()**

this method is very powerful it gives you the ability to get recent `financial metrics` and `statistics` about the company you are looking for.

for an example with take `deepmind` a company I am looking forward to join.

In [2]:
#example
get_stats("deepmind")

saved 3 tables in data/company_stats/deepmind_0.csv

In [12]:
#read .csv file
deepmind_stats_0 = pd.read_csv('data/company_stats/deepmind_0.csv')
deepmind_stats_1 = pd.read_csv('data/company_stats/deepmind_1.csv')
deepmind_stats_2 = pd.read_csv('data/company_stats/deepmind_2.csv')

In [13]:
deepmind_stats_0.drop(columns=["Unnamed: 0"])

               0     1
0  Founding Date  2010

In [14]:
deepmind_stats_1.drop(columns=["Unnamed: 0"])

                                   GBP  FY, 2016  FY, 2017  FY, 2018
0                              Revenue     40.3m     54.4m    102.8m
1                    Revenue growth, %       NaN       35%       89%
2   General and administrative expense    163.8m    333.9m    465.5m
3              Operating expense total    163.8m    333.9m    465.5m
4        Depreciation and amortization    863.5k      1.9m    810.0k
5                                 EBIT  (123.5m)  (279.4m)  (465.5k)
6                       EBIT margin, %    (307%)    (513%)        0%
7                     Interest expense      2.0m      2.6m      6.8m
8                      Interest income       NaN       NaN      2.1m
9                       Pre tax profit  (126.6m)  (281.9m)  (470.2m)
10                  Income tax expense     32.6m   (20.3m)       NaN
11                          Net Income   (93.9m)  (302.2m)  (470.2m)

In [15]:
deepmind_stats_2.drop(columns=["Unnamed: 0"])

,GBP,"FY, 2014","FY, 2015","FY, 2016","FY, 2017","FY, 2018"
0,Cash,95.4m,17.6m,13.7m,975.3k,6.8m
1,Accounts Receivable,NaN,NaN,NaN,NaN,NaN
2,Inventories,NaN,NaN,NaN,NaN,NaN
3,Current Assets,95.5m,41.3m,65.2m,100.1m,115.5m
4,PP&E,NaN,NaN,465.4k,1.1m,885.0k
5,Total Assets,95.5m,41.3m,66.4m,103.2m,118.3k
6,Accounts Payable,10.7k,NaN,722.6k,1.4m,4.4m
7,Short-term debt,100.7m,101.2m,NaN,NaN,883.0m
8,Current Liabilities,101.0m,101.2m,(79.0m),(123.9m),1.0b
9,Long-term debt,NaN,NaN,141.3m,433.1m,NaN
10,Non-Current Liabilities,NaN,NaN,(141.3m),(435.3m),1.6m
11,Total Debt,100.7m,101.2m,141.3m,433.1m,883.0m
12,Total Liabilities,101.0m,101.2m,(153.8m),(456.1m),1.0b
13,Common Stock,1.6k,1.6k,1.6k,1.6k,2.0k
14,Additional Paid-in Capital,NaN,NaN,41.5m,41.5m,41.5m
15,Retained Earnings,(47.0m),(101.4m),(153.8m),(497.5m),(967.7m)
16,Total Equity,(5.5m),(59.9m),(153.8m),(456.1m),(926.2m)
17,Debt to Equity Ratio,-18.2 x,-1.7 x,NaN,-0.9 x,-1 x
18,Debt to Assets Ratio,1.1 x,2.4 x,NaN,4.2 x,7.5 k x
19,Financial Leverage,-17.3 x,-0.7 x,-0.4 x,-0.2 x,0 x

## Dashboard

In [21]:
deepmind_stats_2.drop(columns=["Unnamed: 0"])

,GBP,"FY, 2014","FY, 2015","FY, 2016","FY, 2017","FY, 2018"
0,Cash,95.4m,17.6m,13.7m,975.3k,6.8m
1,Accounts Receivable,NaN,NaN,NaN,NaN,NaN
2,Inventories,NaN,NaN,NaN,NaN,NaN
3,Current Assets,95.5m,41.3m,65.2m,100.1m,115.5m
4,PP&E,NaN,NaN,465.4k,1.1m,885.0k
5,Total Assets,95.5m,41.3m,66.4m,103.2m,118.3k
6,Accounts Payable,10.7k,NaN,722.6k,1.4m,4.4m
7,Short-term debt,100.7m,101.2m,NaN,NaN,883.0m
8,Current Liabilities,101.0m,101.2m,(79.0m),(123.9m),1.0b
9,Long-term debt,NaN,NaN,141.3m,433.1m,NaN
10,Non-Current Liabilities,NaN,NaN,(141.3m),(435.3m),1.6m
11,Total Debt,100.7m,101.2m,141.3m,433.1m,883.0m
12,Total Liabilities,101.0m,101.2m,(153.8m),(456.1m),1.0b
13,Common Stock,1.6k,1.6k,1.6k,1.6k,2.0k
14,Additional Paid-in Capital,NaN,NaN,41.5m,41.5m,41.5m
15,Retained Earnings,(47.0m),(101.4m),(153.8m),(497.5m),(967.7m)
16,Total Equity,(5.5m),(59.9m),(153.8m),(456.1m),(926.2m)
17,Debt to Equity Ratio,-18.2 x,-1.7 x,NaN,-0.9 x,-1 x
18,Debt to Assets Ratio,1.1 x,2.4 x,NaN,4.2 x,7.5 k x
19,Financial Leverage,-17.3 x,-0.7 x,-0.4 x,-0.2 x,0 x

In [20]:

deepmind_stats_1.drop(columns=["Unnamed: 0"])

                                   GBP  FY, 2016  FY, 2017  FY, 2018
0                              Revenue     40.3m     54.4m    102.8m
1                    Revenue growth, %       NaN       35%       89%
2   General and administrative expense    163.8m    333.9m    465.5m
3              Operating expense total    163.8m    333.9m    465.5m
4        Depreciation and amortization    863.5k      1.9m    810.0k
5                                 EBIT  (123.5m)  (279.4m)  (465.5k)
6                       EBIT margin, %    (307%)    (513%)        0%
7                     Interest expense      2.0m      2.6m      6.8m
8                      Interest income       NaN       NaN      2.1m
9                       Pre tax profit  (126.6m)  (281.9m)  (470.2m)
10                  Income tax expense     32.6m   (20.3m)       NaN
11                          Net Income   (93.9m)  (302.2m)  (470.2m)

In [23]:
pd.read_csv("data/company_contacts/deepmind.csv")

,name,position,linkedin
0,Demis Hassabis,Co-Founder & CEO,https://www.linkedin.com/in/demishassabis/
1,Shane Legg,Co-Founder & Chief Scientist,https://twitter.com/demishassabis
2,Lila Ibrahim,Chief Operating Officer,https://www.linkedin.com/in/shanelegg/
3,Koray Kavukcuoglu,Vice President of Research,https://www.linkedin.com/in/librahim/
4,Colin Murdoch,Chief Business Officer,https://www.linkedin.com/in/koray-kavukcuoglu-...